<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.nju.seckill.dao.FavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.edu.nju.seckill.domain.Favorite" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="FavoriteResult" type="com.edu.nju.seckill.domain.dto.FavoriteResult">
    <id column="fid" property="fid" jdbcType="INTEGER"/>
    <result column="gid" property="gid" jdbcType="BIGINT"/>
    <result column="image" property="imgUrl" jdbcType="VARCHAR" />
    <result column="name" property="goods_name" jdbcType="VARCHAR" />
    <result column="price" property="goods_price" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    fid, gid, uid, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from favorite
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from favorite
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.nju.seckill.domain.Favorite" >
    insert into favorite (fid, gid, uid, 
      create_time)
    values (#{fid,jdbcType=INTEGER}, #{gid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edu.nju.seckill.domain.Favorite" >
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.nju.seckill.domain.Favorite" >
    update favorite
    <set >
      <if test="gid != null" >
        gid = #{gid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.nju.seckill.domain.Favorite" >
    update favorite
    set gid = #{gid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <insert id="addFavorite" >
    insert into seckill.favorite(gid,uid,create_time)
    values(#{gid},#{uid},current_timestamp)
  </insert>
  <select id="findFavoriteByUidGid" resultType="java.lang.Integer">
    select count(*)
    from seckill.favorite
    where gid=#{gid} and uid=#{uid}
  </select>
  <delete id="deleteFavorite" parameterType="java.lang.Integer">
    delete from favorite
    where fid=#{fid}
  </delete>
  <delete id="deleteFavByGid">
    delete from favorite
    where uid = #{uid} and gid = #{gid}
  </delete>
  <select id="searchFavoriteByKeyword" resultMap="FavoriteResult">
    SELECT b.fid,b.gid,a.image,a.name,a.price
    from goods as a,favorite as b
    where a.gid=b.gid and b.uid=#{uid}
    <if test="keyword != null">
      and (a.name like CONCAT('%',#{keyword},'%') or a.description like CONCAT('%',#{keyword},'%'))
    </if>
  </select>
  <select id="getFavorite" resultType="com.edu.nju.seckill.domain.Favorite">
    select 
    <include refid="Base_Column_List"></include>
    from favorite
    where uid = #{uid} and gid = #{gid}
  </select>
</mapper>